fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.18
redis==5.0.1
basicsr==1.4.2
realesrgan==0.3.0
pillow==10.3.0
requests==2.32.2
pydantic==2.5.2

# Development dependencies
black==23.11.0
ruff==0.1.6
pre-commit==3.5.0
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
torch>=2.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
